
{#
/**
 * @file
 * Default theme implementation for a field.
 *
 * To override output, copy the "field.html.twig" from the templates directory
 * to your theme's directory and customize it, just like customizing other
 * Drupal templates such as page.html.twig or node.html.twig.
 *
 * Instead of overriding the theming for all fields, you can also just override
 * theming for a subset of fields using
 * @link themeable Theme hook suggestions. @endlink For example,
 * here are some theme hook suggestions that can be used for a field_foo field
 * on an article node type:
 * - field--node--field-foo--article.html.twig
 * - field--node--field-foo.html.twig
 * - field--node--article.html.twig
 * - field--field-foo.html.twig
 * - field--text-with-summary.html.twig
 * - field.html.twig
 *
 * Available variables:
 * - attributes: HTML attributes for the containing element.
 * - label_hidden: Whether to show the field label or not.
 * - title_attributes: HTML attributes for the title.
 * - label: The label for the field.
 * - multiple: TRUE if a field can contain multiple items.
 * - items: List of all the field items. Each item contains:
 *   - attributes: List of HTML attributes for each item.
 *   - content: The field item's content.
 * - entity_type: The entity type to which the field belongs.
 * - field_name: The name of the field.
 * - field_type: The type of the field.
 * - label_display: The display settings for the label.
 *
 * @see template_preprocess_field()
 *
 * @ingroup themeable
 */
#}

{%
  set labelClasses = [
    'label',
    field_type|clean_class,
    field_name|clean_class,
    label_display == 'visually_hidden' ? 'visually-hidden',
  ]
%}

{%
  set fieldClasses = [
    'field',
    field_type|clean_class,
    field_name|clean_class,
    label_hidden ? 'label-hidden' : 'label-visible',
  ]
%}

{%
  set itemClasses = [
    'item',
    field_type|clean_class ~ '-item',
    field_name|clean_class ~ '-item',
  ]
%}

{# field set noWrapperGroup #}
{%
  set noWrapperGroup = [
    'field__entity_reference_revisions',
    'entity_reference_revisions',
    'field_ckeditor',
    'field_image_multiple',
    'field_image_single',
    'field_paragraphs_reference',
    'field_paragraph_reference',
    'field_user_reference',
    'field_views_reference',
    'field_webform',
  ]
%}

{# field markup noWrapperGroup #}
{% if field_name in noWrapperGroup %}
{% for item in items %}
  {{ item.content }}
{% endfor %}

{# field markup abbreviation #}
{% elseif field_name == 'field_abbreviation' %}
{% for item in items %}
  <abbr{{ item.attributes.addClass(fieldClasses) }}>{{ item.content }}</abbr>
{% endfor %}

{# field markup address #}
{% elseif field_name == 'field_address' %}
{% for item in items %}
  <address{{ item.attributes.addClass(fieldClasses) }}>{{ item.content }}</address>
{% endfor %}

{# field markup caption #}
{% elseif field_name == 'field_caption' %}
{% for item in items %}
  <caption{{ item.attributes.addClass(fieldClasses) }}>{{ item.content }}</caption>
{% endfor %}

{# field markup cite #}
{% elseif field_name == 'field_cite' %}
{% for item in items %}
  <cite{{ item.attributes.addClass(fieldClasses) }}>{{ item.content }}</cite>
{% endfor %}

{# field markup em #}
{% elseif field_name == 'field_em' %}
{% for item in items %}
  <em{{ item.attributes.addClass(fieldClasses) }}>{{ item.content }}</em>
{% endfor %}

{# field markup figcaption #}
{% elseif field_name == 'field_figcaption' %}
{% for item in items %}
  <figcaption{{ item.attributes.addClass(fieldClasses) }}>{{ item.content }}</figcaption>
{% endfor %}

{# field markup h2 #}
{% elseif field_name == 'field_h2' %}
{% for item in items %}
  <h2{{ item.attributes.addClass(fieldClasses) }}>{{ item.content }}</h2>
{% endfor %}

{# field markup h3 #}
{% elseif field_name == 'field_h3' %}
{% for item in items %}
  <h3{{ item.attributes.addClass(fieldClasses) }}>{{ item.content }}</h3>
{% endfor %}

{# field markup h4 #}
{% elseif field_name == 'field_h4' %}
{% for item in items %}
  <h4{{ item.attributes.addClass(fieldClasses) }}>{{ item.content }}</h4>
{% endfor %}

{# field markup h4 #}
{% elseif field_name == 'field_h5' %}
{% for item in items %}
  <h5{{ item.attributes.addClass(fieldClasses) }}>{{ item.content }}</h5>
{% endfor %}

{# field markup h4 #}
{% elseif field_name == 'field_h6' %}
{% for item in items %}
  <h6{{ item.attributes.addClass(fieldClasses) }}>{{ item.content }}</h6>
{% endfor %}

{# field markup li #}
{% elseif field_name == 'field_li' %}
<ul{{ attributes.addClass(fieldClasses) }}>
{% for item in items %}
  <li{{ item.attributes.addClass(fieldClasses) }}>{{ item.content }}</li>
{% endfor %}
</ul>

{# field markup option #}
{% elseif field_name == 'field_option' %}
{% for item in items %}
  <option{{ item.attributes.addClass(fieldClasses) }}>{{ item.content }}</option>
{% endfor %}

{# field markup p #}
{% elseif field_name == 'field_p' %}
{% for item in items %}
  <p{{ item.attributes.addClass(fieldClasses) }}>{{ item.content }}</p>
{% endfor %}

{# field markup source #}
{% elseif field_name == 'field_source' %}
{% for item in items %}
  <source{{ item.attributes.addClass(fieldClasses) }}>{{ item.content }}</source>
{% endfor %}

{# field markup strike #}
{% elseif field_name == 'field_strike' %}
{% for item in items %}
  <s{{ item.attributes.addClass(fieldClasses) }}>{{ item.content }}</s>
{% endfor %}

{# field markup subscript #}
{% elseif field_name == 'field_subscript' %}
{% for item in items %}
  <sub{{ item.attributes.addClass(fieldClasses) }}>{{ item.content }}</sub>
{% endfor %}

{# field markup summary #}
{% elseif field_name == 'field_summary' %}
{% for item in items %}
  <summary{{ item.attributes.addClass(fieldClasses) }}>{{ item.content }}</summary>
{% endfor %}

{# field markup supscript #}
{% elseif field_name == 'field_supscript' %}
{% for item in items %}
  <sup{{ item.attributes.addClass(fieldClasses) }}>{{ item.content }}</sup>
{% endfor %}

{# Final option, default field template #}
{% else %}
<span{{ attributes.addClass(fieldClasses) }}>
  {% if not label_hidden %}
  <label{{ title_attributes.addClass(labelClasses) }}>{{ label }}</label>
  {% endif %}
  {% if multiple %}
    {% for item in items %}
      <span{{ item.attributes.addClass(itemClasses) }}>{{ item.content }}</span>
    {% endfor %}
  {% else %}
    {% for item in items %}
      {{ item.content }}
    {% endfor %}
  {% endif %}
</span>
{% endif %}
